@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

div.main {
  font-family: 'Arvo', serif !important;
  position:absolute;
  width: 98%;
  text-align: center;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.margin1 {
  margin-top: 5px;
}

.margin2 {
  margin-top: 10px;
}

.margin3 {
  margin-top: 15px;
}

.margin4 {
  margin-top: 20px;
}

.button {
  display: inline-block;
  border: none;
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
}

.positive {
  background: #5ECD71;
  color: #fff;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.negative {
  font-size: 13px;
  color: rgba(0,0,0,.3);
  font-weight: 700;
}